@import models.entities._

@(country: Country,zones : Iterable[Zone])
@main("Welcome to Play") {
<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
			You are in
        </h1>
    </div>
</div>
<!-- /.row -->
@for(zoneRow <- zones.grouped(4).toList){
<!-- Projects Row -->
<div class="row">
    @for(zone <- zoneRow){
    <div class="col-md-3 portfolio-item">
        <h3>
            <a class="btn btn-primary btn-lg" href="/countries/@country.name/@zone.name/contacts" role="button">@zone.name</a>
        </h3>

    </div>
    }

</div>
<!-- /.row -->
}
}