@import models.entities._
@(country: Country,zone : Zone, news: Iterable[News])
@main(country.name + " " + zone.name + " News") {
<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            News and Warning
        </h1>
    </div>
</div>
<!-- /.row -->
<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="/countries/@country.name/@zone.name/map" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            Map
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="/countries/@country.name/@zone.name/contacts" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            Emergency numbers
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="/countries/@country.name/@zone.name/news" type="button" class="btn btn-default btn-lg active">
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            News and Warning
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="/countries/@country.name/@zone.name/facebook-pages" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
         FB & Twitter supported accounts 
        </a>
    </div>
</div>

@for(n <- news) {
<div class="row">
    <a>@n.title</a>
    <b>@n.description</b>
</div>
}
}